<h1> About Us...</h1>
<br>
<h4>
    <%= @about_me %>
</h4>
<br>
<p>Sign up with an email, or use guest login below</p>
    <span>Guest Username: guestuser@gmail.com </span>
    <br>
    <span>Guest Password: guestpassword</span>